<section class="px-4 py-2">
  <h2 class="text-2xl font-thin">註冊</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: 'label' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
    </div>

    <div class="field">
      <%= f.label :password, class: 'label' %>
      <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: 'label' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
    </div>

    <div class="actions mt-2">
      <%= f.submit "Sign up", class: 'button' %>
    </div>
  <% end %>
</section>
